<div class="col-sm-12 col-sm-offset-2">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="pull-left text-muted mt-2"> Update contact</h2>
        </div>
        <div class="col-sm-6">
            <h4 class="float-right mt-2 ">
            <button type="button" routerLink="/contacts" class="btn btn-info"> contacts</button>
            </h4>
        </div>
    </div>
    <form [formGroup]="updateFormContact" (ngSubmit)="onSubmit()">
      <!-- prenom -->
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" class="form-control" formControlName="prenom">
        <div *ngIf="prenom.invalid && prenom.touched" class="alert alert-danger">
            <div *ngIf="prenom.errors.required">
                prenom is required
            </div>
            <div *ngIf="prenom.errors.minlength">
                prenom must be at least 5 characters long.
            </div>
        </div>
      </div>
      <!-- nom -->
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" formControlName="nom">
        <div *ngIf="nom.invalid && nom.touched" class="alert alert-danger">
            <div *ngIf="nom.errors.required">
                name is required
            </div>
            <div *ngIf="nom.errors.minlength">
                name must be at least 5 characters long.
            </div>
        </div>
      </div>
      <!-- email -->
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input type="text" id="email" class="form-control" formControlName="email">
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                email is required
            </div>
            <div *ngIf="email.errors.email">
                email not valid @
            </div>
        </div>
      </div>
      <!-- adresse -->
      <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" id="adresse" class="form-control" formControlName="adresse">
          <div *ngIf="adresse.invalid && adresse.touched" class="alert alert-danger">
              <div *ngIf="adresse.errors.required">
                  adresse is required
              </div>
              <div *ngIf="adresse.errors.minlength">
                  name must be at least 5 characters long.
              </div>
          </div>
        </div>
      <!-- code postal -->
      <div class="form-group">
          <label for="codePostal">code Postal</label>
          <input type="text" id="codePostal" class="form-control" formControlName="codePostal">
          <div *ngIf="codePostal.invalid && codePostal.touched" class="alert alert-danger">
              <div *ngIf="codePostal.errors.required">
                  codePostal is required
              </div>
              <div *ngIf="codePostal.errors.pattern">
                  codePostal must be a number.
              </div>
              <div *ngIf="codePostal.errors.minlength">
                  codePostal must be at least 4 characters long.
              </div>
          </div>
      </div>
      <!-- tel -->
      <div class="form-group">
          <label for="tel">Tel</label>
          <input type="text" id="tel" class="form-control" formControlName="tel">
          <div *ngIf="tel.invalid && tel.touched" class="alert alert-danger">
              <div *ngIf="tel.errors.required">
                  tel is required
              </div>
              <div *ngIf="tel.errors.pattern">
                  tel must be a number
              </div>
          </div>
        </div>
      <button type="submit" class="btn btn-primary float-right" [disabled]="updateFormContact.invalid">Soumettre</button>
    </form>
</div>
