<div class="col-sm-12 col-sm-offset-2">
<div class="row">
        <div class="col-sm-6">
            <h2 class="pull-left text-muted mt-2">Contact</h2>
        </div>
        <div class="col-sm-6">
            <h4 class="float-right mt-2 ">
            <button type="button" routerLink="/new-contact" class="btn btn-info"> add contact</button>
            </h4>
        </div>
</div>
<ul class="list-group pull-down" id="contact-list"> 
    <li class="list-group-item" *ngFor="let contact of contacts">
        <div class="row w-100">
            <div class="col-12 col-sm-6 col-md-3 px-0">
                    <a routerLink="/contact/show/{{contact.id}}">
                        <img src="{{ contact.photo }}" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                <label class="name lead"><a routerLink="/contact/show/{{contact.id}}">{{ contact.nom }} {{ contact.prenom }}</a></label>
                <br> 
                <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>
                <span class="text-muted small">{{ contact.tel }}</span>
                <br>
            </div>
            <div class="d-flex flex-row-reverse">
                    <div class="float-right p-2">
                        <button routerLink="/contact/show/{{contact.id}}" type="button" class="btn btn-secondary">Show</button>
                    </div>
                </div>
        </div>
       
    </li>
    <br>   
</ul>
</div>

